{% extends 'food/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <h1>This is just a template</h1>

    {% if item %}
    <ul>
        <li>
            {{ item.pk }} - {{ item.item_name }} - {{ item.item_desc }} - {{ item.item_price }}
        </li>        
    </ul>
    {% endif %}
    <a href="{% url 'food:index' %}"> Go back to menu </a> 
    {% endblock %}

</body>
</html>