{% extends 'food/base.html' %}
{% load static %}

<body>
    {% block body %}

    {% if item_list %}
        {% for item in item_list %}
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <img class="card img-fluid max-height-50" src="{{ item.image_url }}" alt="{{ item.item_desc }}">
            </div>

            <div class="col-md-4">
                <h3>{{ item.item_name }}</h3>
                <h5>{{ item.item_desc }}</h5>
                <h6>${{ item.item_price }}</h6>
            </div>

            <div class="col-md-2">
                <a class="btn btn-success" href="{% url 'food:detail' item.id %}" role="button">Details</a>
            </div>
        </div>

        {% endfor %}
    {% endif %}
    {% endblock %}

</body>